<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>0000.gif</string>
		<key>phrase</key>
		<string>[草泥马]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>0001.gif</string>
		<key>phrase</key>
		<string>[神马]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>0002.gif</string>
		<key>phrase</key>
		<string>[浮云]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>0003.gif</string>
		<key>phrase</key>
		<string>[给力]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>0004.gif</string>
		<key>phrase</key>
		<string>[围观]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>0005.gif</string>
		<key>phrase</key>
		<string>[威武]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>0006.gif</string>
		<key>phrase</key>
		<string>[熊猫]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>0007.gif</string>
		<key>phrase</key>
		<string>[兔子]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>0008.gif</string>
		<key>phrase</key>
		<string>[奥特曼]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>0009.gif</string>
		<key>phrase</key>
		<string>[囧]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>0010.gif</string>
		<key>phrase</key>
		<string>[互粉]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>0011.gif</string>
		<key>phrase</key>
		<string>[礼物]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>0012.gif</string>
		<key>phrase</key>
		<string>[呵呵]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>0013.gif</string>
		<key>phrase</key>
		<string>[嘻嘻]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>0014.gif</string>
		<key>phrase</key>
		<string>[哈哈]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>0015.gif</string>
		<key>phrase</key>
		<string>[可爱]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>0016.gif</string>
		<key>phrase</key>
		<string>[可怜]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>0017.gif</string>
		<key>phrase</key>
		<string>[挖鼻屎]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>0018.gif</string>
		<key>phrase</key>
		<string>[吃惊]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>0019.gif</string>
		<key>phrase</key>
		<string>[害羞]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>0020.gif</string>
		<key>phrase</key>
		<string>[挤眼]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>0021.gif</string>
		<key>phrase</key>
		<string>[闭嘴]</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>0022.gif</string>
		<key>phrase</key>
		<string>[鄙视]</string>
	</dict>
</array>
</plist>
